<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimo de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
 <!-- Navbar -->
 <div class="navbar">
    <a href="/">Aluga Filmes</a>
    <a href="/cadastro">Cadastrar</a>
    <a href="/consulta">Consulta</a>
</div>
    

    <div id="filmes"></div>

<!-- Modal para Aluguel -->
<div id="aluguel-modal" class="modal">
    <div class="modal-content">
        <span id="fechar-modal" class="fechar">&times;</span>
        <h2 id="modal-titulo"></h2>
        <form id="form-aluguel">
            <input type="hidden" id="filme-id" name="filme_id">
            <label for="usuario">Selecione o Usuário:</label>
            <select id="usuario" name="usuario" required>
                <!-- As opções serão preenchidas dinamicamente -->
            </select>
            <button type="submit">Confirmar Aluguel</button>
        </form>
        
    </div>
</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
